body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: lightblue;
        }
        #my_canvas {
            background-color: lightblue;
            border: 1px solid lightblue;
        }
        #jeu_perd {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 2px solid black;
            text-align: center;
            font-size: 24px;
        }